<!DOCTYPE html>
<html>
  <head>
    <title>NEFLI</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  </head>
  <body>
    
      
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="">
        <img src="/images/nefli.png" width="100" height="100" class="d-inline-block align-top" alt="" loading="lazy">
        
      </a>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/peliculas">Ver Películas</a>
          <a class="nav-link" href="/peliculas/crear">Crear Película</a>
          <a class="nav-link" href="/peliculas/eliminadas">Recuperar Eliminadas</a>
          
          
        </div>
      </div>
    </nav>


