
    <%- include('header') -%>
    
    <h1>Base de Datos de Peliculas</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum autem deserunt consectetur eaque sunt molestias laboriosam, provident dicta? Ipsum minima asperiores accusamus repudiandae distinctio similique esse ducimus. Cum eius dignissimos ut veritatis officia, at alias amet quae necessitatibus facere voluptas.</p> Peliculas
    

    <%- include('footer') -%>