<%- include('header') -%>
<br>
<h3 class="titulos">Buscador de Pelis por API</h3>
<br>

<br>
<div>
    <input id="buscador" type="text" placeholder="Busque una pelicula...">
    
</div>
<br>
<div>
    <ul id="listado">
        <li class="listado">
            
        </li>
    </ul>
</div>


<br><br>

<%- include('footer') -%>

<script src="/javascripts/script.js"></script>