
    <%- include('header') -%>
    
    <br><br>
    <h1 class="titulos">NEFLI - La base de Películas más cool!!!</h1>
    <br>
    <img class="imgHome" src="/images/nefli.png" alt="logo">
    

    <br>
    <%- include('footer') -%>