<div class="letras">
    <a href="/actores">Todas</a>
    <a href="/actores/filter/a">A</a>
    <a href="/actores/filter/b">B</a>
    <a href="/actores/filter/c">C</a>
    <a href="/actores/filter/d">D</a>
    <a href="/actores/filter/e">E</a>
    <a href="/actores/filter/f">F</a>
    <a href="/actores/filter/g">G</a>
    <a href="/actores/filter/h">H</a>
    <a href="/actores/filter/i">I</a>
    <a href="/actores/filter/j">J</a>
    <a href="/actores/filter/k">K</a>
    <a href="/actores/filter/l">L</a>
    <a href="/actores/filter/m">M</a>
    <a href="/actores/filter/n">N</a>
    <a href="/actores/filter/o">O</a>
    <a href="/actores/filter/p">P</a>
    <a href="/actores/filter/q">Q</a>
    <a href="/actores/filter/r">R</a>
    <a href="/actores/filter/s">S</a>
    <a href="/actores/filter/t">T</a>
    <a href="/actores/filter/u">U</a>
    <a href="/actores/filter/v">V</a>
    <a href="/actores/filter/w">W</a>
    <a href="/actores/filter/x">X</a>
    <a href="/actores/filter/y">Y</a>
    <a href="/actores/filter/z">Z</a>
    </div>